<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>testlistener</display-name>

  <listener>
    <listener-class>org.javachina.listener.view.MyServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.javachina.listener.view.MyHttpSessionListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>ActionServ</servlet-name>
  	<servlet-class>org.javachina.listener.view.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ActionServ</servlet-name>
  	<url-pattern>/action</url-pattern>
  </servlet-mapping>
</web-app>